name: bcc

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup the CIntent Directories
        if: ${{ runner.os == 'Linux' }}
        shell: bash
        run: |
          CINTENT_BIN=/home/runner/cintent/bin
          echo "CINTENT_BIN=$CINTENT_BIN" >> $GITHUB_ENV
          
          CINTENT_LOG=/home/runner/cintent/log
          echo "CINTENT_LOG=$CINTENT_LOG" >> $GITHUB_ENV
          
          CINTENT_BASH=/home/runner/cintent/bin/bash
          echo "CINTENT_BASH=$CINTENT_BASH" >> $GITHUB_ENV
          
          mkdir -p $CINTENT_BIN $CINTENT_LOG

      - name: Setup the Bash Wrapper
        if: ${{ runner.os == 'Linux' }}
        shell: bash
        run: |
          cat << 'EOF' > ${{ env.CINTENT_BASH }}
          #!/bin/bash
          if [[ -n "${CINTENT_ENABLED}" ]]; then
            /bin/bash "$@"
          else
            export CINTENT_ENABLED=true
            /bin/bash "$@"
          fi
          EOF
          chmod +x ${{ env.CINTENT_BASH }}
          echo ${{ env.CINTENT_BIN }} >> $GITHUB_PATH

      - name: Start opensnoop
        shell: bash
        run: |
          sudo opensnoop-bpfcc -n echo > ${{ env.CINTENT_LOG }}/$(date +%s%N) &
          sleep 15

      - name: Test the Bash Wrapper (Remove Later)
        shell: bash
        run: |
          bash -c "echo 'Hello, Runner'"
          cat ${{ env.CINTENT_LOG }}/*

      - name: Update the Test Log (Remove Later)
        uses: actions/upload-artifact@v4
        with:
          name: cintent_log
          path: ${{ env.CINTENT_LOG }}
