name: bcc

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo bpftrace -e 'tracepoint:raw_syscalls:sys_enter { printf("Hello World\n"); }'
          sleep 5

