name: bcc

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set Environmental Variables on Linux
        if: ${{ runner.os == 'Linux' }}
        shell: bash
        run: |
          CINTENT_ARTIFACT_NAME="cintent_log"
          echo "CINTENT_ARTIFACT_NAME=$CINTENT_ARTIFACT_NAME" >> $GITHUB_ENV
          
          CINTENT_BASH=/home/runner/cintent/bin/bash
          echo "CINTENT_BASH=$CINTENT_BASH" >> $GITHUB_ENV
          
          CINTENT_BIN=/home/runner/cintent/bin
          echo "CINTENT_BIN=$CINTENT_BIN" >> $GITHUB_ENV
          mkdir -p $CINTENT_BIN
          
          CINTENT_LOG=/home/runner/cintent/log
          echo "CINTENT_LOG=$CINTENT_LOG" >> $GITHUB_ENV
          mkdir -p $CINTENT_LOG

      - name: Start opensnoop on Linux
        if: ${{ runner.os == 'Linux' }}
        shell: bash
        run: |
          log_path=${{ env.CINTENT_LOG }}/$(date +%s%N)
          sudo opensnoop-bpfcc -n python3 >> $log_path &
          
          start_time=$SECONDS
          until [ -s "$log" ] || (( SECONDS - start_time >= 60 )); do
            sleep 1
          done
          
          if [ ! -s "$log" ]; then
            echo "opensnoop failed to start!" 1>&2
            exit 1
          fi

      # - name: Update the Test Log (Remove Later)
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: ${{ env.CINTENT_ARTIFACT_NAME }}
      #     path: ${{ env.CINTENT_LOG }}
