name: strace

on: workflow_dispatch

jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - 3.12
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
    
      - name: Create the CIntent Directories
        shell: bash
        run: |
          mkdir -p /home/runner/cintent /home/runner/cintent/bin /home/runner/cintent/log
  
      - name: Create the Bash Wrapper
        shell: bash
        run: |
          cat << 'EOF' > /home/runner/cintent/bin/bash
          #!/bin/bash
          if [[ -n "${CINTENT_ENABLED}" ]]; then
            export CINTENT_ENABLED=true
          else
            echo "Hello, World!" >> /home/runner/cintent/log/test
          fi
          /bin/bash "$@"
          EOF
          chmod +x /home/runner/cintent/bin/bash
          echo "/home/runner/cintent/bin" >> $GITHUB_PATH
      - name: Create the Bash Wrapper
        shell: bash
        run: |
          bash -c "whoami"
          sleep 5
          cat /home/runner/cintent/log/test
