name: bcc

on: workflow_dispatch

jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - 3.12
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup the CIntent Directories
        if: ${{ runner.os == 'Linux' }}
        shell: bash
        run: |
          echo "CINTENT_BIN=/home/runner/cintent/bin" >> $GITHUB_ENV
          echo "CINTENT_LOG=/home/runner/cintent/log" >> $GITHUB_ENV
          echo "CINTENT_BASH=/home/runner/cintent/bin/bash" >> $GITHUB_ENV
          mkdir -p ${{ env.CINTENT_BIN }} ${{ env.CINTENT_LOG }}

      - name: Setup the Bash Wrapper
        if: ${{ runner.os == 'Linux' }}
        shell: bash
        run: |
          cat << 'EOF' > ${{ env.CINTENT_BASH }}
          #!/bin/bash
          if [[ -n "${CINTENT_ENABLED}" ]]; then
            echo "Hello, Client" >> ${{ env.CINTENT_LOG }}/$(date +%s%N)
          else
            export CINTENT_ENABLED=true
          fi
          /bin/bash "$@"
          EOF
          chmod +x ${{ env.CINTENT_BASH }}
          echo ${{ env.CINTENT_BIN }} >> $GITHUB_PATH

      - name: Test the Bash Wrapper (Remove Later)
        shell: bash
        run: |
          bash -c "echo 'Hello, Runner'"
          cat ${{ env.CINTENT_LOG }}/*
