name: instrument

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: JavidDitty/setup-cintent@c7fea16bf1723eb072e7c6138c6303c0f6ad41b0
        
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 
          
      # - name: Install Dependencies
      #   run: |
      #     python -m pip install pytest
      #     pip install pytest

      # - name: Run Test Commands I
      #   run: |
      #     python test.py
      #     python ignore.py

      - name: Run Test Commands II
        run: |
          pip install pytest
          pytest --log-level=WARNING .
          
      - name: Upload CIntent Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.CINTENT_ARTIFACT_NAME }}
          path: ${{ env.CINTENT_LOGS }}
