name: instrument

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: JavidDitty/setup-cintent@f93b37390b45c5eb5acb4b88887a193199243c03

      - name: Run Test Commands
        run: |
          python3 test.py
          python3 ignore.py
