name: instrument

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo pip install py-spy pyinstrument
          pip install py-spy pyinstrument

      - name: Run Test Commands
        run: |
          # python3 test.py
          # python3 ignore.py
          FILE="/home/runner/instrument.log"
          py-spy record --full-filenames --output "$FILE" --format speedscope --subprocesses --function -- python3 test.py

      - name: Check if log exists
        run: |
          FILE="/home/runner/instrument.log"
          if [ -f "$FILE" ]; then
              echo "$FILE exists and is a regular file."
          else
              echo "$FILE does not exist or is not a regular file."
          fi
