name: instrument

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Pyinstrument
        run: |
          pip install py-spy

      - name: Run Test Commands
        run: |
          py-spy record \
          --duration unlimited \
          --format speedscope \
          --function \
          --idle \
          --rate 100 \
          --output test.json \
          --subprocesses \
          -- /usr/bin/python3 test.py

      - name: Run Test Commands
        run: |
          cat test.json
