name: instrument

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: JavidDitty/setup-cintent@371348712eba7e29bed7a88ed9b5362ea2ad974b

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 

      - name: Run Test Commands I
        run: |
          python3 test.py
          python3 ignore.py

      - name: Run Test Commands II
        run: |
          pip install pytest
          pytest
          
      - name: Upload CIntent Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.CINTENT_ARTIFACT_NAME }}
          path: ${{ env.CINTENT_LOGS }}
