name: instrument

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo pip install py-spy pyinstrument
          pip install py-spy pyinstrument
  
      - name: Set Command Wrappers on Linux
        run: |  
          sudo mkdir /home/runner/cintent
          sudo cp /usr/bin/python /home/runner/cintent/python
          sudo cp /usr/bin/python3 /home/runner/cintent/python3

          sudo cat << 'PY_WRAPPER_EOF' > /usr/bin/python
          #!/bin/bash
          echo "=============="
          echo "$@"
          echo "=============="
          PY_WRAPPER_EOF
          sudo cp /usr/bin/python /usr/bin/python3
          sudo chmod +x /usr/bin/python
          sudo chmod +x /usr/bin/python3
        
      - name: Run Test Commands
        run: |
          python3 test.py
          python3 ignore.py
