name: instrument

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo pip install py-spy pyinstrument
          pip install py-spy pyinstrument
  
      - name: Set Command Wrappers on Linux
        run: |  
          # Create python/python3 wrapper
          cat << 'PY_WRAPPER_EOF' > /home/runner/python
          #!/bin/bash
          echo "=============="
          echo "$@"
          echo "=============="
          PY_WRAPPER_EOF

          # Set permissions for python/python3 wrapper
          cp /home/runner/python /home/runner/python3
          chmod +x /home/runner/python
          chmod +x /home/runner/python3
          
          echo "/home/runner/python" >> $GITHUB_PATH
          echo "PATH=/home/runner/python:$PATH" >> $GITHUB_ENV
          ln -sfn /home/runner/python python
          
          echo "/home/runner/python3" >> $GITHUB_PATH
          echo "PATH=/home/runner/python3:$PATH" >> $GITHUB_ENV
          ln -sfn /home/runner/python3 python3

          which -a python
          which -a python3
        
      - name: Run Test Commands
        run: |
          which -a python
          which -a python3
