name: instrument

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        if: ${{ runner.os == 'Linux' }}
        shell: bash
        run: |
          sudo pip install py-spy
          pip install py-spy pytest
  
      - name: Set Environmental Variables
        if: ${{ runner.os == 'Linux' }}
        shell: bash
        run: |
          CINTENT_ARTIFACT_NAME="cintent_log"
          echo "CINTENT_ARTIFACT_NAME=$CINTENT_ARTIFACT_NAME" >> $GITHUB_ENV
  
          CINTENT_BASH=/home/runner/cintent/bin/bash
          echo "CINTENT_BASH=$CINTENT_BASH" >> $GITHUB_ENV
  
          CINTENT_BIN=/home/runner/cintent/bin
          echo "CINTENT_BIN=$CINTENT_BIN" >> $GITHUB_ENV
          mkdir -p $CINTENT_BIN
  
          CINTENT_BLACK=/home/runner/cintent/bin/black
          echo "CINTENT_BLACK=$CINTENT_BLACK" >> $GITHUB_ENV
  
          CINTENT_FLAKE8=/home/runner/cintent/bin/flake8
          echo "CINTENT_FLAKE8=$CINTENT_FLAKE8" >> $GITHUB_ENV
  
          CINTENT_LOGS=/home/runner/cintent/log
          echo "CINTENT_LOGS=$CINTENT_LOGS" >> $GITHUB_ENV
          mkdir -p $CINTENT_LOGS
  
          CINTENT_MYPY=/home/runner/cintent/bin/mypy
          echo "CINTENT_MYPY=$CINTENT_MYPY" >> $GITHUB_ENV
  
          CINTENT_PY=/home/runner/cintent/bin/python
          echo "CINTENT_PY=$CINTENT_PY" >> $GITHUB_ENV
  
          CINTENT_PY3=/home/runner/cintent/bin/python3
          echo "CINTENT_PY3=$CINTENT_PY3" >> $GITHUB_ENV
  
          CINTENT_PYLINT=/home/runner/cintent/bin/pylint
          echo "CINTENT_PYLINT=$CINTENT_PYLINT" >> $GITHUB_ENV
  
          CINTENT_PYTEST=/home/runner/cintent/bin/pytest
          echo "CINTENT_PYTEST=$CINTENT_PYTEST" >> $GITHUB_ENV
  
          CINTENT_STEP_ID=0
          echo "CINTENT_STEP_ID=$CINTENT_STEP_ID" >> $GITHUB_ENV
  
          CINTENT_TEMP=/home/runner/cintent/temp
          echo "CINTENT_TEMP=$CINTENT_TEMP" >> $GITHUB_ENV
          mkdir -p $CINTENT_TEMP
  
          CINTENT_TOX=/home/runner/cintent/bin/tox
          echo "CINTENT_TOX=$CINTENT_TOX" >> $GITHUB_ENV
  
          CINTENT_UV=/home/runner/cintent/bin/uv
          echo "CINTENT_UV=$CINTENT_UV" >> $GITHUB_ENV
  
      - name: Create 'python' Wrapper
        if: ${{ runner.os == 'Linux' }}
        shell: bash
        run: |
          # Initialize the Paths
          COMMAND_NAME="python"
          COMMAND_PATH=$(which $COMMAND_NAME)
          BIN_PATH=$CINTENT_BIN/$COMMAND_NAME
          WRAPPER_PATH=$CINTENT_TEMP/$COMMAND_NAME

          echo "Bin Path: $BIN_PATH"

          # Apply the Wrapper
          sudo cp $COMMAND_PATH $BIN_PATH
          
          # Write the Wrapper
          cat << 'WRAPPER_EOF' > $WRAPPER_PATH
          #!/bin/bash
          output=$CINTENT_LOGS/$(date +%s%N).$CINTENT_STEP_ID.pyisession.json
          py-spy record --format speedscope --full-filenames --function --output "$output" --subprocesses -- "$BIN_PATH" "$@"
          WRAPPER_EOF
          sudo chmod +x $WRAPPER_PATH
          
          sudo rm $COMMAND_PATH
          sudo cp $WRAPPER_PATH $COMMAND_PATH
  
      - name: Create 'python3' Wrapper
        if: ${{ runner.os == 'Linux' }}
        shell: bash
        run: |
          # Initialize the Paths
          COMMAND_NAME="python3"
          COMMAND_PATH=$(which $COMMAND_NAME)
          BIN_PATH=$CINTENT_BIN/$COMMAND_NAME
          WRAPPER_PATH=$CINTENT_TEMP/$COMMAND_NAME

          echo "Bin Path: $BIN_PATH"

          # Apply the Wrapper
          sudo cp $COMMAND_PATH $BIN_PATH
          
          # Write the Wrapper
          cat << 'WRAPPER_EOF' > $WRAPPER_PATH
          #!/bin/bash
          output=$CINTENT_LOGS/$(date +%s%N).$CINTENT_STEP_ID.pyisession.json
          py-spy record --format speedscope --full-filenames --function --output "$output" --subprocesses -- "$BIN_PATH" "$@"
          WRAPPER_EOF
          sudo chmod +x $WRAPPER_PATH
          
          sudo rm $COMMAND_PATH
          sudo cp $WRAPPER_PATH $COMMAND_PATH

      - name: Create 'pytest' Wrapper
        if: ${{ runner.os == 'Linux' }}
        shell: bash
        run: |
          # Initialize the Paths
          COMMAND_NAME="pytest"
          COMMAND_PATH=$(which $COMMAND_NAME)
          WRAPPER_PATH=$CINTENT_TEMP/$COMMAND_NAME
          
          # Write the Wrapper
          cat << 'WRAPPER_EOF' > $WRAPPER_PATH
          #!/bin/bash
          output=$CINTENT_LOGS/$(date +%s%N).$CINTENT_STEP_ID.pyisession.json
          py-spy record --format speedscope --full-filenames --function --output "$output" --subprocesses -- python3 -m "$COMMAND_NAME" "$@"
          WRAPPER_EOF
          sudo chmod +x $WRAPPER_PATH

          sudo rm $COMMAND_PATH
          sudo cp $WRAPPER_PATH $COMMAND_PATH
  
      - name: Run Test Commands
        run: |
          python3 test.py
          pytest
        
      - uses: actions/upload-artifact@v4
        if: ${{ runner.os == 'Linux' }}
        with:
          name: ${{ env.CINTENT_ARTIFACT_NAME }}
          path: ${{ env.CINTENT_LOGS }}
