name: strace

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Opensnoop
        if: ${{ runner.os == 'Linux' }}
        shell: bash
        run: |
          sudo opensnoop-bpfcc -eT
